
/* Declaración de Fuente */
@font-face {
    font-family: "gd_code";
    src: url('../font/codelight.ttf')
}

@font-face {
    font-family: "gd_code_bold";
    src: url('../font/codebold.ttf')
        
}

/* Definición de Estilos */

/*   TITULO   */

* {
    font-family: gd_code_bold;
    margin: 0;
    padding: 0;
    color: #424242;   
}

/*   USO SASS   */

body {
    margin-top: 50px;

    header {
        background-color: #E4E4E4;
    }
    
    a{
        text-decoration: none;
        font-size: 20px;
        color: #424242;
    }
    
    .logo {
        margin-top: 0px;
        margin-left: 30PX;
        width: 120px;
        height: 120px;
    }
    
    .img-inicio-uno {
        height: 225px;
        width: 205px;
    }
    
    .inicio-nos-text {
        width: 400px;
        padding: 20px;
        margin-top: 15px;
        margin-bottom: 50px;
    }
    
    .inicio-serv-text {
        width: 400px;
        text-align: center;
        padding-top: 50px;
        
    }
    
    .img-inicio-serv {
        height: 285px;
        width: 195px;
    }
    
    .inicio-tec {
        padding-top: 50px;
    }
    
    .img-inicio-tec-microsoft {
        padding: 37px;
    }
    
    .img-inicio-tec-salesforce {
        padding: 20px;
    }
    
    .img-inicio-contact {
        height: 190px;
        width: 220px;
    }
    
    .inicio-cont-text {
        padding-top: 60px;
        padding-left: 50px;
        text-align: center;
    }
    
    .redes {
        margin-top: 70px;
        margin-bottom: 30px;
    
        .img-redes { 
            height: 50px;
            width: 50px;
        }

    }
    
    .pie-pagina {
        height: 50px;
        background-color: #00aff5;
        padding-top: 15px;
    }
    
    article {
        padding-top: 20px;
        text-align: center;
    }

}

.menu {
    display: inline-block;
    height: 35px;
    width: 155px;
    padding-top: 5px;
    border-radius: 5px;
    margin-top: 60px;
    list-style-type: none;
    color: #424242;
}

.titulo {
    margin-top: 20px;
    text-align:start;
    padding-left: 75px;
}

.linea {
    margin-left: 70px;
    text-align: center;
    width: 1200px;
} 

.menu {
    color: white;
    
    &:hover {
        background-color: #00aff5;
    }
    
    a:hover{
        color: white;
    }

}

/*  FINAL USO SASS I  */

/*   SECCION NOSOTROS  */

.img-nosotros-uno {
    height: 220px;
    width: 275px;
}

.img-nosotros-dos {
    height: 249px;
    width: 246px;
}

/*   SECCION SERVICIOS   */

.img-servicios-uno {
    height: 224px;
    width: 298px;
}

.img-servicios-dos {
    height: 162px;
    width: 305px;
}

/*   SECCION TECNOLOGIAS  */

.img-tecnologias-uno {
    height: 200px; 
    width: 220px;
}

.img-tecnologias-dos {
    height: 200px; 
    width: 200px;
}

/*  SECCION CONTACTO  */

.img-contacto {
    height: 290px;
    width: 320px;
}

.contacto_lista {
    list-style-type: none;
}

/*  EXTEND  */

.contacto_general {
    border-radius: 20px;
    font-size: 16px;
    padding-left: 10px;
    background-color: #cfcfcf;
    border-style: hidden;
}

.contacto_cajas_txt {
    @extend .contacto_general;
    position: relative;
    height: 30px;
    width: 300px;
    margin-top: 5px;
}

.contacto_caja_msj {
    @extend .contacto_general;
    height: 200px;
    width: 300px;
    margin-top: 3px;
}
/*  FIN EXTEND  */


/*  MIXINS */

@mixin general($alto, $ancho, $fuente, $alineado) {
    height: $alto;
    width: $ancho;
    font-size: $fuente;
    text-align: $alineado;
}

.contacto_etiqueta {
    @include general(30px, 205px, 18px, right);
    padding: 8px;
    border-radius: 5px;
    list-style-type: none;
    color: #0c598d;
}

/*  FIN MIXINS  */

.contacto_boton {
    width: 510px;
    text-align: right;
    padding-left: 300px;
    list-style-type: none;
}

.boton {
    height: 50px;
    width: 150px;
    margin-top: 30px;
    margin-right: 15px;
    border-radius: 20px;
    font-size: 18px;
    background-color: #b4eaff;
    border-style: hidden;
}

/*   RESPONSIVE   */

@media (min-width: 1200px) {

/*   TRANSICIONES   */

.trans-redesloc:hover {
    transition: 2s;
    transform: rotate(360deg) ;
    
}

/*  MAP   */

$transiciones: (
    img-inicio: 2s,
    texto-incio: 2s,
);

@each $nombre, $valor in $transiciones {
    .trans-#{$nombre}:hover{
        transition: $valor;
        transform: scale(1.2);
    }
}

.boton:hover {
    background-color: #00aff5;
    color: white;
    cursor: pointer;
}

/*   ANIMACIONES   */

.titulo-inicio-animado {
    animation-name: titulo;
    animation-iteration-count: 1;
    animation-duration: 3s;
}

@keyframes titulo {
    from {
        transform: translate(-200px);
        opacity: 0;
    }

    to {
        transform: translate(0);
        opacity: 1;
    }
}

.izq-der-nos {
    animation-name: izq-der;
    animation-iteration-count: 1;
    animation-duration: 3s;
}

@keyframes izq-der {
    from {
        transform: translate(-200px);
        opacity: 0;
    }

    to {
        transform: translate(0);
        opacity: 1;
    }
}

.der-izq-nos {
    animation-name: img-nos;
    animation-iteration-count: 1;
    animation-duration: 3s;
}

    @keyframes img-nos {
        from {
            transform: translate(200px);
            opacity: 0;
        }

        to {
            transform: translate(0);
            opacity: 1;
        }
    }

}

/*   TABLET   */

@media (max-width: 991.98px) {
    header {
        text-align: end;
    }

    .menu {
        margin-top: 20px;
        padding-top: 0px;
    }

    .togg-menu {
        margin-right: 700px;
    }

    .togg {
        background-color: #E4E4E4 !important;
    }
            
    a {
        color: #424242;
    }

    .titulo {
        text-align: center;
        padding: 0px;
    }

    .linea {
        margin-left: 70px;
        text-align: center;
        width: 500px;
    }

    .img-contacto {
        height: 240px;
        width: 270px;
    }

    .contacto_etiqueta {
        width: 205px;
        height: 30px;
        padding: 8px;
        border-radius: 5px;
        list-style-type: none;
        color: #424242;
        font-size: 18px;
        text-align: center;
        color: #0c598d;
    }

    .contacto_cajas_txt {
        height: 30px;
        width: 220px;
        border-radius: 20px;
        margin-top: 5px;
        font-size: 16px;
        padding-left: 10px;
        background-color: #cfcfcf;
        border-style: hidden;
    }

    .contacto_caja_msj {
        height: 200px;
        width: 220px;
        border-radius: 20px;
        font-size: 16px;
        margin-top: 3px;
        padding-left: 10px;
        background-color: #cfcfcf;
        border-style: hidden;
    }

    /*  MAP GET  */

    $estilo_boton: (
        ancho: 300px,
        alineado: center,
        borde_izq: 140px,
        lista_estilo: none,
    );

    .contacto_boton {
        width: map-get($estilo_boton , ancho);
        text-align: map-get($estilo_boton , alineado);
        padding-left: map-get($estilo_boton , borde_izq);
        list-style-type: map-get($estilo_boton , lista_estilo);
    }

}

/*   MOBILE   */

$ancho: 500px;

@media (max-width: 575.98px) {
    header {
        text-align: end;
    }

    .titulo {
        text-align: center;
    }

    .linea {
        /* SASS II  */
        text-align: center;
        width: $ancho - 200;
        padding: 0px;
    }

    .contacto_etiqueta {
        width: 205px;
        height: 30px;
        padding: 8px;
        border-radius: 5px;
        list-style-type: none;
        color: #424242;
        font-size: 18px;
        text-align: center;
        color: #0c598d;
    }

    .contacto_boton {
        width: $ancho - 200;
        text-align: center;
        padding-left: 140px;
        list-style-type: none;
    }

    .togg-menu {
        margin-right: 700px;
    }

    .togg {
        background-color: #E4E4E4 !important;
    }
    
    a {
        color: #424242;
    }
}