
/* Declaración de Fuente */
@font-face {
    font-family: "gd_code";
    src: url('../font/codelight.ttf')
}

@font-face {
    font-family: "gd_code_bold";
    src: url('../font/codebold.ttf')
        
}

/* Definición de Estilos */

/*   TITULO   */

* {
    font-family: gd_code_bold;
    margin: 0;
    padding: 0;
    color: #424242;
    
}

body {
    margin-top: 40px;
    margin-left: 50px;
}

.titulo {
    grid-column-start: 2;
    margin-top: 20px;
    margin-left: 75px;
}
    
.linea {
    grid-column-start: 2;
    margin-left: 70px;
    text-align: center;
}

.logo {
    width: 150px;
    height: 150px;
}

/*  GRIDS  */

.grid-contenedor {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 150px 900px 80px;
    grid-gap: 20px;
}

.grid-header {
    grid-column-start: 2;
}

/*    Menu   */

.grid-nav {
    grid-column-start: 3;
    grid-column-end: 12;
}

.menu_lineal {
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    list-style-type: none;
    color: #424242;
}

.menu {
    display: inline-block;
    height: 35px;
    width: 155px;
    padding-top: 5px;
    border-radius: 5px;
    margin-top: 60px;
    list-style-type: none;
    color: #424242;
}

a{
    text-decoration: none;
    font-size: 22px;
    color: #424242;
}

.grid-main {
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 20px;
    grid-column-start: 2;
    grid-column-end: 12;
}

.grid-section {
    display: grid;
    grid-column-start: 2;
    height: 300px;
    margin-top: 20px;
    margin-left: 75px;
}

/*  INICIO  */

.grid-contenedor-inicio {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 150px 1880px 80px;
    grid-gap: 20px;
}

.grid-main-inicio {
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 300px 50px;
    grid-column-start: 2;
    grid-column-end: 12;
}

.grid-section-inicio {
    display: grid;
    grid-column-start: 2;
    height: 300px;
    margin-top: 20px;
    margin-left: 75px;
}

.inicio-uno {
    grid-column-start: 2;
    width: 400px;
    text-align: center;
    padding: 20px;
    margin-top: 45px;
    margin-bottom: 50px;
}

.inicio-dos {
    grid-column-start: 3;
    width: 300px;
    margin-top: 20px;
}

.img-inicio-uno {
    height: 245px;
    width: 225px;
}

.inicio-nos-uno {
    grid-column-start: 3;
    width: 300px;
    margin-top: 20px;
}

.inicio-nos-dos {
    grid-column-start: 4;
    width: 400px;
    text-align: center;
    padding: 20px;
    margin-top: 45px;
    margin-bottom: 50px;
}

.img-inicio-serv {
    height: 225px;
    width: 135px;
}

.inicio-serv-uno {
    grid-column-start: 3;
    width: 400px;
    text-align: center;
    padding: 20px;
    margin-top: 45px;
    margin-bottom: 50px;
}

.inicio-serv-dos {
    grid-column-start: 4;
    width: 300px;
    margin-top: 20px;
}

.inicio-tec-uno {
    grid-column-start: 2;
    margin-top: 50px;
    text-align: center;
}

.inicio-tec-dos {
    grid-column-start: 4;
    margin-top: 20px;
    text-align: center;
}

.inicio-tec-tres {
    grid-column-start: 2;
    width: 350px;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 0px;
    padding: 0px 40px;
}

.inicio-tec-cuatro {
    grid-column-start: 4;
    width: 350px;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 0px;
    padding: 0px 40px;
}

.img-inicio-contact {
    height: 190px;
    width: 220px;
}

.inicio-cont-uno {
    grid-column-start: 2;
    margin-top: 50px;
    text-align: center;
}

.inicio-cont-dos {
    grid-column-start: 3;
    width: 400px;
    text-align: center;
    padding: 50px;
    margin-top: 45px;
    margin-bottom: 50px;
}

/*  SECCION NOSOTROS  */

.img-nosotros-uno {
    height: 220px;
    width: 275px;
}

.img-nosotros-dos {
    height: 249px;
    width: 246px;
}

.nosotros-uno {
    grid-column-start: 2;
    width: 300px;
    margin-top: 20px;
}

.nosotros-dos {
    grid-column-start: 3;
    width: 400px;
    text-align: center;
    padding: 20px;
    margin-top: 45px;
    margin-bottom: 50px; 
}

.nosotros-tres {
    grid-column-start: 2;
    width: 400px;
    text-align: center;
    padding: 20px;
    margin-top: 45px;
    margin-bottom: 50px;
}

.nosotros-cuatro {
    grid-column-start: 3;
    width: 300px;
    margin-top: 20px;
}

/*  SECCION SERVICIOS  */

.img-servicios-uno {
    height: 224px;
    width: 298px;
}

.img-servicios-dos {
    height: 162px;
    width: 305px;
}

.servicios-uno {
    grid-column-start: 2;
    width: 400px;
    text-align: center;
    padding: 30px;
    margin-top: 45px;
    margin-bottom: 50px;
}

.servicios-dos {
    grid-column-start: 3;
    width: 300px;
    margin-top: 20px;
}

.servicios-tres {
    grid-column-start: 2;
    width: 300px;
    margin-top: 55px;
}

.servicios-cuatro {
    grid-column-start: 3;
    width: 400px;
    text-align: center;
    padding: 35px;
    margin-top: 45px;
    margin-bottom: 50px;
}

/* SECCION TECNOLOGIAS  */

.grid-section-tec {
    display: grid;
    grid-column-start: 2;
    margin-top: 20px;
    margin-left: 75px;
    margin-bottom: 115px;
}

.img-tecnologias-uno {
    height: 200px; 
    width: 220px;
}

.img-tecnologias-dos {
    height: 200px; 
    width: 200px;
}

.tecnologias-uno {
    grid-column-start: 2;
    margin-top: 20px;
    padding-top: 50px;
    text-align: center;
    width: 430px;
    margin-bottom: 0px;
}

.tecnologias-dos {
    grid-column-start: 4;
    margin-top: 20px;
    padding-top: 50px;
    width: 430px;
    text-align: center;
}

.subtitulo {
    margin-bottom: 10px;
    font-weight:bolder;
}

.tecnologias-tres{
    grid-column-start: 2;
    width: 350px;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 0px;
    padding: 0px 40px;
}

.tecnologias-cuatro{
    grid-column-start: 4;
    width: 350px;
    text-align: center;
    margin-bottom: 50px;
    padding: 0px 40px;
}

/*  SECCION CONTACTO  */

.img-contacto {
    height: 290px;
    width: 320px;
}

.grid-section-cont {
    display: grid;
    grid-column-start: 2;
    margin-top: 20px;
    margin-left: 75px;
    margin-bottom: 228px;
}

.contacto-uno {
    grid-column-start: 1;
    text-align: center;
    margin-top: 40px;
}

.contacto-dos {
    display: grid;
    grid-column-start: 2;
}

.contacto-formulario {
    grid-column-start: 3;
    grid-gap: 16px;
    text-align: left;
}

.contacto_lista {
    list-style-type: none;
}

.contacto_cajas_txt {
    display: inline-block;
    position: relative;
    height: 30px;
    width: 300px;
    border-radius: 20px;
    margin-top: 5px;
    font-size: 16px;
    padding-left: 10px;
    background-color: #cfcfcf;
    border-style: hidden;
}

.contacto_caja_msj {
    height: 200px;
    width: 300px;
    border-radius: 20px;
    font-size: 16px;
    margin-top: 3px;
    padding-left: 10px;
    background-color: #cfcfcf;
    border-style: hidden;
}

.contacto_etiqueta {
    display: inline-block;
    width: 200px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    margin: 3px;
    list-style-type: none;
    color: #424242;
    font-size: 18px;
    text-align: right;
    color: #0c598d;
}

.contacto_boton {
    text-align: right;
}

.boton {
    display: inline-block;
    height: 50px;
    width: 150px;
    margin-top: 30px;
    margin-right: 15px;
    border-radius: 20px;
    font-size: 18px;
    background-color: #b4eaff;
    border-style: hidden;
}

/*   REDES  */

.grid-redes {
    display: grid;
    text-align: center;
    grid-column-start: 2;
    height: 60px;
    margin-top: 20px;
    margin-left: 75px;
}

.redes {
    margin-top: 10px;
}

.img-redes {
    height: 40px;
    width: 40px;
}


/*  PIE DE PAGINA  */

.pie-pagina {
    grid-template-columns: repeat(12, 1fr);
    grid-column-start: 2;
    grid-column-end: 12;
    text-align: center;
    vertical-align: middle;
    height: 50px;
    padding-top: 30px;
    background-color: #00aff5;
}


/*   TRANSICIONES   */

.trans-redesloc:hover {
    transition: 2s;
    transform: rotate(360deg) ;
    
}

.trans-img-inicio:hover {
    transition: 2s;
    transform: scale(1.2);
}

.trans-texto-incio:hover {
    transition: 2s;
    transform: scale(1.2);
}

.menu:hover {
    background-color: #00aff5;
    
}

.menu a:hover{
    color: white;
}

.boton:hover {
    background-color: #00aff5;
    color: white;
    cursor: pointer;
}

/*   ANIMACIONES   */

.titulo-inicio-animado {
    animation-name: titulo;
    animation-iteration-count: 1;
    animation-duration: 3s;
}

@keyframes titulo {
    from {
        transform: translate(-200px);
        opacity: 0;
    }

    to {
        transform: translate(0);
        opacity: 1;
    }
}

.izq-der-nos {
    animation-name: izq-der;
    animation-iteration-count: 1;
    animation-duration: 3s;
}

@keyframes izq-der {
    from {
        transform: translate(-200px);
        opacity: 0;
    }

    to {
        transform: translate(0);
        opacity: 1;
    }
}

.der-izq-nos {
    animation-name: img-nos;
    animation-iteration-count: 1;
    animation-duration: 3s;
}

@keyframes img-nos {
    from {
        transform: translate(200px);
        opacity: 0;
    }

    to {
        transform: translate(0);
        opacity: 1;
    }
}